In [69]:
import pandas as pd
drinks = pd.read_table('drinks.csv',sep =',')

In [10]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [11]:
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [19]:
# examine the default index, data types, and shape
drinks.index #gives the index numbers for each row
drinks.dtypes #gives the data type for each column
drinks.shape #display rows by columns

(193, 6)

In [22]:
drinks.beer_servings #prints the index number and the corresponding value in the beer column

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, dtype: int64

In [27]:
# calculate the average 'beer_servings' for the entire dataset
drinks.beer_servings.mean() #If you don't add the parenthesis it just prints the beer_servings

106.16062176165804

In [35]:
# count the number of occurrences of each 'continent' value and see if it looks correct
drinks.continent.value_counts() #remember PARENTHESIS!

AF    53
EU    45
AS    44
OC    16
SA    12
dtype: int64

In [54]:
#Exercise 2
# filter DataFrame to only include European countries
drinks[drinks.continent == "EU"]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [57]:
#Exercise 2
# filter DataFrame to only include European countries with wine_servings > 300
drinks[(drinks.continent == "EU") & (drinks.wine_servings > 300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [59]:
#Exercise 2
# calculate the average 'beer_servings' for all of Europe
drinks.beer_servings.mean()

106.16062176165804

In [71]:
#Exercise 2
# calculate the average 'beer_servings' for all of Europe
drinks.beer_servings[drinks.continent == "EU"].mean()

193.77777777777777

In [70]:
drinks.beer_servings[drinks.continent == "EU"].mean()

193.77777777777777

In [31]:
#Exercise 2
# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks.sort('total_litres_of_pure_alcohol', ascending=False)[:10]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,EU
98,Lithuania,343,244,56,12.9,EU
3,Andorra,245,138,312,12.4,EU
68,Grenada,199,438,28,11.9,NaN
45,Czech Republic,361,170,134,11.8,EU
61,France,127,151,370,11.8,EU
141,Russian Federation,247,326,73,11.5,AS
81,Ireland,313,118,165,11.4,EU
155,Slovakia,196,293,116,11.4,EU
99,Luxembourg,236,133,271,11.4,EU

In [36]:
# renaming one or more columns
drinks.rename(columns={'total_litres_of_pure_alcohol': 'pure_alcohol'})

,country,beer_servings,spirit_servings,wine_servings,pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [38]:
# replace all column names
drinks.rename(columns={'beer_servings':'beer','spirit_servings': 'spirit','wine_servings':'wine','total_litres_of_pure_alcohol':'pure_alcohol'})

                  country  beer  spirit  wine  pure_alcohol continent
0             Afghanistan     0       0     0           0.0        AS
1                 Albania    89     132    54           4.9        EU
2                 Algeria    25       0    14           0.7        AF
3                 Andorra   245     138   312          12.4        EU
4                  Angola   217      57    45           5.9        AF
5       Antigua & Barbuda   102     128    45           4.9       NaN
6               Argentina   193      25   221           8.3        SA
7                 Armenia    21     179    11           3.8        EU
8               Australia   261      72   212          10.4        OC
9                 Austria   279      75   191           9.7        EU
10             Azerbaijan    21      46     5           1.3        EU
11                Bahamas   122     176    51           6.3       NaN
12                Bahrain    42      63     7           2.0        AS
13             Bangladesh     0       0     0           0.0        AS
14               Barbados   143     173    36           6.3       NaN
15                Belarus   142     373    42          14.4        EU
16                Belgium   295      84   212          10.5        EU
17                 Belize   263     114     8           6.8       NaN
18                  Benin    34       4    13           1.1        AF
19                 Bhutan    23       0     0           0.4        AS
20                Bolivia   167      41     8           3.8        SA
21     Bosnia-Herzegovina    76     173     8           4.6        EU
22               Botswana   173      35    35           5.4        AF
23                 Brazil   245     145    16           7.2        SA
24                 Brunei    31       2     1           0.6        AS
25               Bulgaria   231     252    94          10.3        EU
26           Burkina Faso    25       7     7           4.3        AF
27                Burundi    88       0     0           6.3        AF
28          Cote d'Ivoire    37       1     7           4.0        AF
29             Cabo Verde   144      56    16           4.0        AF
..                    ...   ...     ...   ...           ...       ...
163              Suriname   128     178     7           5.6        SA
164             Swaziland    90       2     2           4.7        AF
165                Sweden   152      60   186           7.2        EU
166           Switzerland   185     100   280          10.2        EU
167                 Syria     5      35    16           1.0        AS
168            Tajikistan     2      15     0           0.3        AS
169              Thailand    99     258     1           6.4        AS
170             Macedonia   106      27    86           3.9        EU
171           Timor-Leste     1       1     4           0.1        AS
172                  Togo    36       2    19           1.3        AF
173                 Tonga    36      21     5           1.1        OC
174     Trinidad & Tobago   197     156     7           6.4       NaN
175               Tunisia    51       3    20           1.3        AF
176                Turkey    51      22     7           1.4        AS
177          Turkmenistan    19      71    32           2.2        AS
178                Tuvalu     6      41     9           1.0        OC
179                Uganda    45       9     0           8.3        AF
180               Ukraine   206     237    45           8.9        EU
181  United Arab Emirates    16     135     5           2.8        AS
182        United Kingdom   219     126   195          10.4        EU
183              Tanzania    36       6     1           5.7        AF
184                   USA   249     158    84           8.7       NaN
185               Uruguay   115      35   220           6.6        SA
186            Uzbekistan    25     101     8           2.4        AS
187               Vanuatu    21      18    11           0.9        OC
188             Venezuela   333     100     3           7.7        SA
189               Vietnam   111       2     1           2.0        AS
190                 Yemen     6       0     0           0.1        AS
191                Zambia    32      19     4           2.5        AF
192              Zimbabwe    64      18     4           4.7        AF

[193 rows x 6 columns]

In [47]:
# add a new column as a function of existing columns
drinks['drink_more_beer'] = (drinks.beer_servings +20)
drinks['total_servings'] = (drinks.beer_servings + drinks.spirit_servings + drinks.wine_servings)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,beer_servings2,drink_more_beer,total_servings
0,Afghanistan,0,0,0,0.0,AS,10,20,0
1,Albania,89,132,54,4.9,EU,99,109,275
2,Algeria,25,0,14,0.7,AF,35,45,39
3,Andorra,245,138,312,12.4,EU,255,265,695
4,Angola,217,57,45,5.9,AF,227,237,319
5,Antigua & Barbuda,102,128,45,4.9,NaN,112,122,275
6,Argentina,193,25,221,8.3,SA,203,213,439
7,Armenia,21,179,11,3.8,EU,31,41,211
8,Australia,261,72,212,10.4,OC,271,281,545
9,Austria,279,75,191,9.7,EU,289,299,545
10,Azerbaijan,21,46,5,1.3,EU,31,41,72
11,Bahamas,122,176,51,6.3,NaN,132,142,349
12,Bahrain,42,63,7,2.0,AS,52,62,112
13,Bangladesh,0,0,0,0.0,AS,10,20,0
14,Barbados,143,173,36,6.3,NaN,153,163,352
15,Belarus,142,373,42,14.4,EU,152,162,557
16,Belgium,295,84,212,10.5,EU,305,315,591
17,Belize,263,114,8,6.8,NaN,273,283,385
18,Benin,34,4,13,1.1,AF,44,54,51
19,Bhutan,23,0,0,0.4,AS,33,43,23
20,Bolivia,167,41,8,3.8,SA,177,187,216
21,Bosnia-Herzegovina,76,173,8,4.6,EU,86,96,257
22,Botswana,173,35,35,5.4,AF,183,193,243
23,Brazil,245,145,16,7.2,SA,255,265,406
24,Brunei,31,2,1,0.6,AS,41,51,34
25,Bulgaria,231,252,94,10.3,EU,241,251,577
26,Burkina Faso,25,7,7,4.3,AF,35,45,39
27,Burundi,88,0,0,6.3,AF,98,108,88
28,Cote d'Ivoire,37,1,7,4.0,AF,47,57,45
29,Cabo Verde,144,56,16,4.0,AF,154,164,216
...,...,...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,138,148,313
164,Swaziland,90,2,2,4.7,AF,100,110,94
165,Sweden,152,60,186,7.2,EU,162,172,398
166,Switzerland,185,100,280,10.2,EU,195,205,565
167,Syria,5,35,16,1.0,AS,15,25,56
168,Tajikistan,2,15,0,0.3,AS,12,22,17
169,Thailand,99,258,1,6.4,AS,109,119,358
170,Macedonia,106,27,86,3.9,EU,116,126,219
171,Timor-Leste,1,1,4,0.1,AS,11,21,6
172,Togo,36,2,19,1.3,AF,46,56,57
173,Tonga,36,21,5,1.1,OC,46,56,62
174,Trinidad & Tobago,197,156,7,6.4,NaN,207,217,360
175,Tunisia,51,3,20,1.3,AF,61,71,74
176,Turkey,51,22,7,1.4,AS,61,71,80
177,Turkmenistan,19,71,32,2.2,AS,29,39,122
178,Tuvalu,6,41,9,1.0,OC,16,26,56
179,Uganda,45,9,0,8.3,AF,55,65,54
180,Ukraine,206,237,45,8.9,EU,216,226,488
181,United Arab Emirates,16,135,5,2.8,AS,26,36,156
182,United Kingdom,219,126,195,10.4,EU,229,239,540
183,Tanzania,36,6,1,5.7,AF,46,56,43
184,USA,249,158,84,8.7,NaN,259,269,491
185,Uruguay,115,35,220,6.6,SA,125,135,370
186,Uzbekistan,25,101,8,2.4,AS,35,45,134
187,Vanuatu,21,18,11,0.9,OC,31,41,50
188,Venezuela,333,100,3,7.7,SA,343,353,436
189,Vietnam,111,2,1,2.0,AS,121,131,114
190,Yemen,6,0,0,0.1,AS,16,26,6
191,Zambia,32,19,4,2.5,AF,42,52,55
192,Zimbabwe,64,18,4,4.7,AF,74,84,86

In [53]:
# removing columns
drinks
drinks.drop('beer_servings2',1)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,drink_more_beer,total_servings
0,Afghanistan,0,0,0,0.0,AS,20,0
1,Albania,89,132,54,4.9,EU,109,275
2,Algeria,25,0,14,0.7,AF,45,39
3,Andorra,245,138,312,12.4,EU,265,695
4,Angola,217,57,45,5.9,AF,237,319
5,Antigua & Barbuda,102,128,45,4.9,NaN,122,275
6,Argentina,193,25,221,8.3,SA,213,439
7,Armenia,21,179,11,3.8,EU,41,211
8,Australia,261,72,212,10.4,OC,281,545
9,Austria,279,75,191,9.7,EU,299,545
10,Azerbaijan,21,46,5,1.3,EU,41,72
11,Bahamas,122,176,51,6.3,NaN,142,349
12,Bahrain,42,63,7,2.0,AS,62,112
13,Bangladesh,0,0,0,0.0,AS,20,0
14,Barbados,143,173,36,6.3,NaN,163,352
15,Belarus,142,373,42,14.4,EU,162,557
16,Belgium,295,84,212,10.5,EU,315,591
17,Belize,263,114,8,6.8,NaN,283,385
18,Benin,34,4,13,1.1,AF,54,51
19,Bhutan,23,0,0,0.4,AS,43,23
20,Bolivia,167,41,8,3.8,SA,187,216
21,Bosnia-Herzegovina,76,173,8,4.6,EU,96,257
22,Botswana,173,35,35,5.4,AF,193,243
23,Brazil,245,145,16,7.2,SA,265,406
24,Brunei,31,2,1,0.6,AS,51,34
25,Bulgaria,231,252,94,10.3,EU,251,577
26,Burkina Faso,25,7,7,4.3,AF,45,39
27,Burundi,88,0,0,6.3,AF,108,88
28,Cote d'Ivoire,37,1,7,4.0,AF,57,45
29,Cabo Verde,144,56,16,4.0,AF,164,216
...,...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,148,313
164,Swaziland,90,2,2,4.7,AF,110,94
165,Sweden,152,60,186,7.2,EU,172,398
166,Switzerland,185,100,280,10.2,EU,205,565
167,Syria,5,35,16,1.0,AS,25,56
168,Tajikistan,2,15,0,0.3,AS,22,17
169,Thailand,99,258,1,6.4,AS,119,358
170,Macedonia,106,27,86,3.9,EU,126,219
171,Timor-Leste,1,1,4,0.1,AS,21,6
172,Togo,36,2,19,1.3,AF,56,57
173,Tonga,36,21,5,1.1,OC,56,62
174,Trinidad & Tobago,197,156,7,6.4,NaN,217,360
175,Tunisia,51,3,20,1.3,AF,71,74
176,Turkey,51,22,7,1.4,AS,71,80
177,Turkmenistan,19,71,32,2.2,AS,39,122
178,Tuvalu,6,41,9,1.0,OC,26,56
179,Uganda,45,9,0,8.3,AF,65,54
180,Ukraine,206,237,45,8.9,EU,226,488
181,United Arab Emirates,16,135,5,2.8,AS,36,156
182,United Kingdom,219,126,195,10.4,EU,239,540
183,Tanzania,36,6,1,5.7,AF,56,43
184,USA,249,158,84,8.7,NaN,269,491
185,Uruguay,115,35,220,6.6,SA,135,370
186,Uzbekistan,25,101,8,2.4,AS,45,134
187,Vanuatu,21,18,11,0.9,OC,41,50
188,Venezuela,333,100,3,7.7,SA,353,436
189,Vietnam,111,2,1,2.0,AS,131,114
190,Yemen,6,0,0,0.1,AS,26,6
191,Zambia,32,19,4,2.5,AF,52,55
192,Zimbabwe,64,18,4,4.7,AF,84,86

In [54]:
drinks.continent.value_counts(dropna=False)

AF     53
EU     45
AS     44
NaN    23
OC     16
SA     12
dtype: int64

In [55]:
drinks.continent.value_counts

<bound method Series.value_counts of 0       AS
1       EU
2       AF
3       EU
4       AF
5      NaN
6       SA
7       EU
8       OC
9       EU
10      EU
11     NaN
12      AS
13      AS
14     NaN
15      EU
16      EU
17     NaN
18      AF
19      AS
20      SA
21      EU
22      AF
23      SA
24      AS
25      EU
26      AF
27      AF
28      AF
29      AF
      ...
163     SA
164     AF
165     EU
166     EU
167     AS
168     AS
169     AS
170     EU
171     AS
172     AF
173     OC
174    NaN
175     AF
176     AS
177     AS
178     OC
179     AF
180     EU
181     AS
182     EU
183     AF
184    NaN
185     SA
186     AS
187     OC
188     SA
189     AS
190     AS
191     AF
192     AF
Name: continent, dtype: object>

In [64]:
# find missing values in a Series
drinks[drinks.continent.isnull()]
#notnull will exclude rows with a null value, if you add ,how="all" then it will only drop the row if it's missing all

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,beer_servings2,drink_more_beer,total_servings
5,Antigua & Barbuda,102,128,45,4.9,NaN,112,122,275
11,Bahamas,122,176,51,6.3,NaN,132,142,349
14,Barbados,143,173,36,6.3,NaN,153,163,352
17,Belize,263,114,8,6.8,NaN,273,283,385
32,Canada,240,122,100,8.2,NaN,250,260,462
41,Costa Rica,149,87,11,4.4,NaN,159,169,247
43,Cuba,93,137,5,4.2,NaN,103,113,235
50,Dominica,52,286,26,6.6,NaN,62,72,364
51,Dominican Republic,193,147,9,6.2,NaN,203,213,349
54,El Salvador,52,69,2,2.2,NaN,62,72,123
68,Grenada,199,438,28,11.9,NaN,209,219,665
69,Guatemala,53,69,2,2.2,NaN,63,73,124
73,Haiti,1,326,1,5.9,NaN,11,21,328
74,Honduras,69,98,2,3.0,NaN,79,89,169
84,Jamaica,82,97,9,3.4,NaN,92,102,188
109,Mexico,238,68,5,5.5,NaN,248,258,311
122,Nicaragua,78,118,1,3.5,NaN,88,98,197
130,Panama,285,104,18,7.2,NaN,295,305,407
143,St. Kitts & Nevis,194,205,32,7.7,NaN,204,214,431
144,St. Lucia,171,315,71,10.1,NaN,181,191,557
145,St. Vincent & the Grenadines,120,221,11,6.3,NaN,130,140,352
174,Trinidad & Tobago,197,156,7,6.4,NaN,207,217,360
184,USA,249,158,84,8.7,NaN,259,269,491

In [80]:
#Exercise 3
# for each continent, calculate the mean beer servings
bycontinent = drinks.groupby('continent')
bycontinent.mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [82]:
# for each continent, calculate the mean of all numeric columns
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [87]:
# for each continent, describe beer servings
drinks.groupby('continent').describe()

                 beer_servings  spirit_servings  total_litres_of_pure_alcohol  \
continent
AF        count      53.000000        53.000000                     53.000000
          mean       61.471698        16.339623                      3.007547
          std        80.557816        28.102794                      2.647557
          min         0.000000         0.000000                      0.000000
          25%        15.000000         1.000000                      0.700000
          50%        32.000000         3.000000                      2.300000
          75%        76.000000        19.000000                      4.700000
          max       376.000000       152.000000                      9.100000
AS        count      44.000000        44.000000                     44.000000
          mean       37.045455        60.840909                      2.170455
          std        49.469725        84.362160                      2.770239
          min         0.000000         0.000000                      0.000000
          25%         4.250000         1.000000                      0.100000
          50%        17.500000        16.000000                      1.200000
          75%        60.500000        98.000000                      2.425000
          max       247.000000       326.000000                     11.500000
EU        count      45.000000        45.000000                     45.000000
          mean      193.777778       132.555556                      8.617778
          std        99.631569        77.589115                      3.358455
          min         0.000000         0.000000                      0.000000
          25%       127.000000        81.000000                      6.600000
          50%       219.000000       122.000000                     10.000000
          75%       270.000000       173.000000                     10.900000
          max       361.000000       373.000000                     14.400000
OC        count      16.000000        16.000000                     16.000000
          mean       89.687500        58.437500                      3.381250
          std        96.641412        70.504817                      3.345688
          min         0.000000         0.000000                      0.000000
          25%        21.000000        18.000000                      1.000000
          50%        52.500000        37.000000                      1.750000
          75%       125.750000        65.250000                      6.150000
          max       306.000000       254.000000                     10.400000
SA        count      12.000000        12.000000                     12.000000
          mean      175.083333       114.750000                      6.308333
          std        65.242845        77.077440                      1.531166
          min        93.000000        25.000000                      3.800000
          25%       129.500000        65.750000                      5.250000
          50%       162.500000       108.500000                      6.850000
          75%       198.000000       148.750000                      7.375000
          max       333.000000       302.000000                      8.300000

                 wine_servings
continent
AF        count      53.000000
          mean       16.264151
          std        38.846419
          min         0.000000
          25%         1.000000
          50%         2.000000
          75%        13.000000
          max       233.000000
AS        count      44.000000
          mean        9.068182
          std        21.667034
          min         0.000000
          25%         0.000000
          50%         1.000000
          75%         8.000000
          max       123.000000
EU        count      45.000000
          mean      142.222222
          std        97.421738
          min         0.000000
          25%        59.000000
          50%       128.000000
          75%       195.000000
          max       370.000000
OC        count      16.000000
          mean       35.625000
          std        64.555790
          min         0.000000
          25%         1.000000
          50%         8.500000
          75%        23.250000
          max       212.000000
SA        count      12.000000
          mean       62.416667
          std        88.620189
          min         1.000000
          25%         3.000000
          50%        12.000000
          75%        98.500000
          max       221.000000

In [91]:
# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').agg(['count','mean','std'])

          beer_servings                        spirit_servings              \
                  count        mean        std           count        mean
continent
AF                   53   61.471698  80.557816              53   16.339623
AS                   44   37.045455  49.469725              44   60.840909
EU                   45  193.777778  99.631569              45  132.555556
OC                   16   89.687500  96.641412              16   58.437500
SA                   12  175.083333  65.242845              12  114.750000

                     wine_servings                         \
                 std         count        mean        std
continent
AF         28.102794            53   16.264151  38.846419
AS         84.362160            44    9.068182  21.667034
EU         77.589115            45  142.222222  97.421738
OC         70.504817            16   35.625000  64.555790
SA         77.077440            12   62.416667  88.620189

          total_litres_of_pure_alcohol
                                 count      mean       std
continent
AF                                  53  3.007547  2.647557
AS                                  44  2.170455  2.770239
EU                                  45  8.617778  3.358455
OC                                  16  3.381250  3.345688
SA                                  12  6.308333  1.531166

In [92]:
drinks.groupby('continent').describe()

                 beer_servings  spirit_servings  total_litres_of_pure_alcohol  \
continent
AF        count      53.000000        53.000000                     53.000000
          mean       61.471698        16.339623                      3.007547
          std        80.557816        28.102794                      2.647557
          min         0.000000         0.000000                      0.000000
          25%        15.000000         1.000000                      0.700000
          50%        32.000000         3.000000                      2.300000
          75%        76.000000        19.000000                      4.700000
          max       376.000000       152.000000                      9.100000
AS        count      44.000000        44.000000                     44.000000
          mean       37.045455        60.840909                      2.170455
          std        49.469725        84.362160                      2.770239
          min         0.000000         0.000000                      0.000000
          25%         4.250000         1.000000                      0.100000
          50%        17.500000        16.000000                      1.200000
          75%        60.500000        98.000000                      2.425000
          max       247.000000       326.000000                     11.500000
EU        count      45.000000        45.000000                     45.000000
          mean      193.777778       132.555556                      8.617778
          std        99.631569        77.589115                      3.358455
          min         0.000000         0.000000                      0.000000
          25%       127.000000        81.000000                      6.600000
          50%       219.000000       122.000000                     10.000000
          75%       270.000000       173.000000                     10.900000
          max       361.000000       373.000000                     14.400000
OC        count      16.000000        16.000000                     16.000000
          mean       89.687500        58.437500                      3.381250
          std        96.641412        70.504817                      3.345688
          min         0.000000         0.000000                      0.000000
          25%        21.000000        18.000000                      1.000000
          50%        52.500000        37.000000                      1.750000
          75%       125.750000        65.250000                      6.150000
          max       306.000000       254.000000                     10.400000
SA        count      12.000000        12.000000                     12.000000
          mean      175.083333       114.750000                      6.308333
          std        65.242845        77.077440                      1.531166
          min        93.000000        25.000000                      3.800000
          25%       129.500000        65.750000                      5.250000
          50%       162.500000       108.500000                      6.850000
          75%       198.000000       148.750000                      7.375000
          max       333.000000       302.000000                      8.300000

                 wine_servings
continent
AF        count      53.000000
          mean       16.264151
          std        38.846419
          min         0.000000
          25%         1.000000
          50%         2.000000
          75%        13.000000
          max       233.000000
AS        count      44.000000
          mean        9.068182
          std        21.667034
          min         0.000000
          25%         0.000000
          50%         1.000000
          75%         8.000000
          max       123.000000
EU        count      45.000000
          mean      142.222222
          std        97.421738
          min         0.000000
          25%        59.000000
          50%       128.000000
          75%       195.000000
          max       370.000000
OC        count      16.000000
          mean       35.625000
          std        64.555790
          min         0.000000
          25%         1.000000
          50%         8.500000
          75%        23.250000
          max       212.000000
SA        count      12.000000
          mean       62.416667
          std        88.620189
          min         1.000000
          25%         3.000000
          50%        12.000000
          75%        98.500000
          max       221.000000

In [96]:
# for each continent, count the number of occurrences
drinks.groupby('continent').count()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
AF,53,53,53,53,53
AS,44,44,44,44,44
EU,45,45,45,45,45
OC,16,16,16,16,16
SA,12,12,12,12,12